#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease, transform 0.5s ease;
}

.header-move {
  top: 10%;
  transform: translate(-50%, 0); 
}